<section id="about">
  <div class="container py-5">
    <h2 class="h2 text-center mb-5">About me</h2>
    <ul class="nav justify-content-center nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-skills-tab" data-bs-toggle="pill" data-bs-target="#pills-skills"
          type="button" role="tab" aria-controls="pills-skills" aria-selected="true">Skills</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-education-tab" data-bs-toggle="pill" data-bs-target="#pills-education"
          type="button" role="tab" aria-controls="pills-education" aria-selected="false">Education</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-workexperience-tab" data-bs-toggle="pill"
          data-bs-target="#pills-workexperience" type="button" role="tab" aria-controls="pills-workexperience"
          aria-selected="false">Work Experience</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-skills" role="tabpanel" aria-labelledby="pills-skills-tab">
        <div class="skills mt-5 d-flex justify-content-center align-items-center">
          <i title="HTML5" class="fa-brands fa-html5 fs-2"></i>
          <i title="Sass" class="fa-brands fa-sass fs-2"></i>
          <i title="Bootstrap" class="fa-brands fa-bootstrap fs-2"></i>
          <img title="Typescript" class="" src="../../assets/icons/typescript.png" width="auto" height="35" alt="TS">
          <i title="Angular" class="fa-brands fa-angular fs-2"></i>
          <i title="Reactjs" class="fa-brands fa-react fs-2"></i>
          <img title="AJAX" class="" src="../../assets/icons/ajax.png" width="auto" height="35" alt="MySQL">
          <img title="MySQL" class="" src="../../assets/icons/mysql.png" width="auto" height="35" alt="MySQL">
          <i title="Symfony" class="fa-brands fa-symfony fs-2"></i>
          <i title="PHP" class="fa-brands fa-php fs-2"></i>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-education" role="tabpanel" aria-labelledby="pills-education-tab">
        <div class="edu mt-5 d-table m-auto flex-column">
          <div class="first">
            <p>2014 - 2017 Technical school for computer and communication technology at the HTL Saalfelden</p>
          </div>
          <div class="second">
            <p>2018 - 2021 Vocational maturity examination at the BFI Kitzbühel</p>
          </div>
          <div class="third">
            <p>2022 - 2022 Full Stack Course at CodeFactory Vienna</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-workexperience" role="tabpanel" aria-labelledby="pills-workexperience-tab">
        <div class="edu mt-5 d-table m-auto flex-column">
          <div class="first">
            <p>2017 - 2019 Army Soldier in Sankt Johann in Tirol</p>
          </div>
          <div class="second">
            <p>2020 - 2021 Web Developer at goingsoft GmbH in Sankt Johann in Tirol</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
