<section id="about">
  <div class="container">
    <h2 class="h2 fs-1 text-white text-center py-5">About me</h2>
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <!-- <img src="../../assets/img/me.png" alt="Me" class="img-fluid rounded"> -->
      </div>
      <div class="col">
        <div class="card p-5 shadow-lg">
          <p>I am Markus and i am originally from Tyrol, but living now in Vienna. I love working on projects that
            challenge me.</p>
          <ul>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
