.navbar-list {
  display: flex;
  list-style: none;
}

img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  object-position: top;
}

.navbar-toggle {
  font-size: 2rem;
  display: none;
}

.socials a {
  transition: color .15s ease-in-out;
}

.bg-none {
  background-color: transparent;
}

.border-none {
  border: none;
}

@media screen and (max-width: 768px) {
  #navbar, .socials, .contact {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .nav-link {
    padding: 0.5rem 0.5rem;
  }
}

.nav-link:hover,
.socials a:hover {
  color: #000 !important;
}

.btn {
  background: linear-gradient(135deg, var(--gradient1) 0%, var(--gradient2) 100%);
  color: #fff;
}

#navbarMobile {
  z-index: 5;
  position: absolute;
  visibility: hidden;
  top: 160px;
  width: 97%;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transition: opacity .5s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  ul {
    list-style: none;
  }
}
