<nav class="navbar border-bottom">
  <div class="container-fluid px-5 py-4">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/Ich.jpg" alt="Logo" class="rounded-circle">
    </a>
    <div id="navbar">
      <ul class="navbar-list p-0 m-0">
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/" fragment="about">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/" fragment="projects">Projects</a>
        </li>
      </ul>
    </div>
    <div class="socials">
      <a class="text-secondary fs-4 me-sm-3 me-lg-5" target="_blank" href="https://linkedin.com/in/MarkusAger">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a class="text-secondary fs-4 me-sm-3 me-lg-5" target="_blank" href="https://instagram.com/Agerinho">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="text-secondary fs-4 me-sm-3 me-lg-5" target="_blank" href="https://twitter.com">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a class="text-secondary fs-4" target="_blank" href="https://github.com/Agerinho">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
    <div class="contact">
      <a routerLink="/" fragment="contact" class="btn">Contact me</a>
    </div>
    <button id="navToggle" class="navbar-toggle bg-none border-none">
      <i id="navToggleIcon" class="fa-solid fa-bars-staggered"></i>
    </button>
    <div id="navbarMobile" class="bg-white rounded-3">
      <ul class="p-3 m-0 rounded-3 shadow">
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/" fragment="about">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/" fragment="skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/" fragment="projects">Projects</a>
        </li>
        <li>
          <div class="socialsMobile text-center my-4">
            <a class="text-secondary fs-4 me-4" target="_blank" href="https://linkedin.com/in/MarkusAger">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="text-secondary fs-4 me-4" target="_blank" href="https://instagram.com/Agerinho">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="text-secondary fs-4 me-4" target="_blank" href="https://twitter.com">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a class="text-secondary fs-4" target="_blank" href="https://github.com/Agerinho">
              <i class="fa-brands fa-github"></i>
            </a>
          </div>
        </li>
        <li class="text-center">
          <a routerLink="/" fragment="contact" class="btn fs-5 mb-3">Contact me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>