.navbar-list {
  display: flex;
  list-style: none;
}

.navbar-toggle {
  font-size: 2rem;
  display: none;
}

.bg-none {
  background-color: transparent;
}

.border-none {
  border: none;
}

@media screen and (max-width: 768px) {
  #navBar, .socials, .contact {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .nav-link {
    padding: 0.5rem 0.5rem;
  }
}

.nav-link:hover,
.socials a:hover {
  color: #000 !important;
}

.btn {
  background: linear-gradient(135deg, var(--gradient1) 0%, var(--gradient2) 100%);
  color: #fff;
}
