<section id="contact" class="container mb-5">
  <h2 class="text-center">Gönn dir einen Kaffee und setz dich mit mir in Verbindung</h2>
  <div class="info row w-75 m-auto d-flex">
    <div class="col email my-2 m-lg-5 px-3 py-4 rounded-3 text-center">
      <i class="bi bi-envelope"></i>
      <a href="mailto:agermarkus@outlook.com" class="ms-2">agermarkus@outlook.com</a>
    </div>
    <div class="col phone my-2 m-lg-5 px-3 py-4 rounded-3 text-center">
      <i class="bi bi-phone"></i>
      <a href="tel:+63664 7843063" class="ms-2">+63664 7843063</a>
    </div>
  </div>
  <div class="form w-75 m-auto">
    <form class="text-center" action="send">
      <input class="input w-100 my-2 p-2 rounded" type="text" placeholder="Name" name="username" value="">
      <input class="input w-100 my-2 p-2 rounded" type="email" placeholder="Email" name="email" value="">
      <textarea class="input w-100 my-2 p-2 rounded" type="text" placeholder="Your Message" name="message"
        value=""></textarea>
      <button class="btn btn-success">Send Message</button>
    </form>
  </div>
</section>
